.allKitchens {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}
.kitchen {
    margin: 1em;
    width: 150px;
    height: 150px;
    background: #ad0e0a;
}

.kitchen:hover{
    background: #fac565;
}

form {
    margin: 1em;
}